.button{
    padding: 0.4em;
    margin: 0.2em;
    width: 3.9em;
    height: 3.9em;
    border-radius: 30%;
    background-color: rgba(202, 232, 214, 0.925);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    border: 5px solid rgb(25, 210, 198);
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}

.button:hover{
    background-color: rgb(228, 9, 46);
    color: white;
    font-size: 21px;
}

.row input{
    margin: 0.5em;
    width: 10em;
    padding: 0.5em;
    border: 2px solid black;
    font-size: 32px;
}

.zero{
    width: 8.5em;
    border-radius: 10%;
}

@media (max-width : 400px){
    .button{
        padding: 0em;
        margin: 0.05em;
        width: 2.5em;
        height: 2.5em;
    }

    .row input{
        margin: 0.3em;
        width: 8em;
        padding: 0.3em;
        border: 2px solid black;
        font-size: 25px;
    }
}